<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->
	<bean id="myCoach" class="io.test.spring.SoccerCoach">
        <constructor-arg ref="myFortuneService"></constructor-arg>
    </bean>

    <bean id="basketballCoach" class="io.test.spring.BaseballCoach">
        <property name="service" ref="myFortuneService"></property>
    </bean>

    <bean id="myFortuneService" class="io.test.spring.HappyFortuneService"></bean>

</beans>





